
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "~font-awesome/scss/font-awesome.scss";

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  font-family: $fontFamily;
  word-spacing: 2px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontFamilyHeader;
  word-spacing: 5px;
  font-weight: 900;
}

body {
  padding-bottom: 100px;
  min-height: 100vh;
  min-width: 320px;
}
.level {
  display:flex;
  align-items: center;
}
.level-item {
  margin-right: 1em;
}
.flex {
  flex: 1;
}
.mr-1 {
  margin-right: 1em;
}
[v-cloak] {
  display: none;
}
.ais-highlight > em {
  background-color: #cccc00;
  font-style: normal;
}
.navbar-laravel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.card-header a {
  color: #005cbf;
}
.card-header {
  color: #111111;
}

.btn {
  background-color: lightgrey !important;
}

.btn-primary {
  background-color: #f32e12;
}

.attention {
  border-radius: 5px;
  font-weight: 900;
  background-color: #005cbf;
  color: #f2f3f4 !important;
}
