<template>

</template>

<script>
    export default {

        mounted() {
            // Upon mounting of the component, we accessed the .bind({...})
            // function to put an initial image on the canvas.
            this.$refs.croppieRef.bind({
                url: this.avatar,
            })
        },
        data() {
            return {
                cropped: null,
                avatar: imagePath
            }
        },
        methods: {


        }
    }
</script>

<style scoped>

</style>