<template>
        <div class="mt-3" v-if="signedIn">
            <div class="form-group">
                <wysiwyg name="body" v-model="body" placeholder="Reply..." ref="trix" :shouldClear="completed"></wysiwyg>
            </div>

            <button type="submit"
                    class="btn btn-default"
                    @click="addReply">
                Post
            </button>
        </div>
        <div v-else>
            <p class="text-center">
                Please <a href="/login">sign in</a> to participate.
            </p>
        </div>
</template>

<script>
    import 'jquery.caret';
    import 'at.js';
    export default {
        name: "new-reply",
        data() {
            return {
                body: '',
                completed: false
            }
        },
        mounted() {
            $('#body').atwho({
                at: "@",
                delay: 750,
                callbacks: {
                    remoteFilter: function(query, callback) {
                        $.getJSON("/api/users", {name: query}, function(usernames) {
                            callback(usernames)
                        });
                    }
                }
            });
        },
        methods: {
            addReply() {
                axios.post(location.pathname + '/replies', {body: this.body})
                    .catch(error => {
                        flash(error.response.data, 'danger');
                    })
                    .then(({data}) => {
                        this.body = '';
                        this.completed = true;
                        flash('Your reply has been posted.');
                        this.$emit('created', data);
                    });
            }
        }
    }
</script>

<style scoped>

</style>